.App {
  text-align: center;
  height: 100vh;
  font-family: "Open Sans";
}

.app-body{
  height: 100%;
}

.day{
  background-image: url("./images/day.jpeg") ,linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  transition: 4s ease;
}

.night{
  background-image: url("./images/night.jpeg") ,linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  transition: 4s ease;
}

.rain{
  background-image: url("./images/rain.jpg") ,linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  transition: 4s ease;
}

.snow{
  background-image: url("./images/snow.jpeg") ,linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  transition: 4s ease;
}

.warm{
  background-image: url("./images/warm.jpeg") ,linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  transition: 4s ease;
}

.search-group{
  padding: 15px;
}

.search-input{
  padding: 10px;
  min-width: 300px;
  border: 2px solid black;
  font-size: 1.5rem;
}

.weather-text{
  margin-top: 4rem;
  color: #fff;
}

.city-name{
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 0;
}

.date{
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 5px;
}

.temperature-box{
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 15px 45px;
  border-radius: 35px;
}

.temperature{
  font-size: 5rem;
}

.weather-condition{
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2rem;
  margin-top: 10px;
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 400px) {
  .search-input{
    max-width: 100px;
  }

  .temperature-box{
    background: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
  }

  .temperature{
    font-size: 4rem;
  }
}
